.Metric {
  min-height: 200px;


  .number {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
  }

  .label {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
   }
}
